{% extends 'base.html' %}

{% block content %}
{{block.super}}
<head>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script> -->
  <script>
  function copyToClipboard(element) {
    $(element).select();
    document.execCommand("copy");
  }
  </script>
</head>


<div class="container">
  <div class="row">
  <!-- Looping through news -->
  {% for image in images %}


  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 padding-0 hover ">
    <img src="{{image.image.url}}" class=" img img-responsive" data-toggle="modal" data-target="#{{image.id}}">
  </div>


<!-- Modal -->

<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title" id="exampleModalLongTitle">{{image.title}}</h3>
        <h4 class="modal-title">{{image.location}}</h4>
        <h5 class="modal-title">{{image.post_date}}</h5>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
    
          <div class="text-center">
        
            <img src='{{image.image.url}}' class="img-responsive" width=100% height=100% alt="Image">
         
        </div>
      


      </div>

      <div class="modal-footer">
    
        <div class="form-group row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
            <input id="{{image.id}}-url"  class="form-control input-md responsive" type="text" value="{{ALLOWED_HOSTS}}{{image.image.url}}">
          </div>


          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-2">
            <button class="btn btn-secondary" onclick="copyToClipboard('#{{image.id}}-url')">Copy</button>
          </div>
        </div>



        <div class="text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
</div>


</div>


{% endblock %}